# PhpStorm
.idea/
.junie/

# Configuration
/public/.htaccess
/php.ini
/.docker-compose.env

# symfony/framework-bundle
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/

# node
node_modules/

# symfony/asset-mapper
/public/assets/
/assets/vendor/

# phpunit/phpunit
/phpunit.xml
/.phpunit.cache/

# phpstan/phpstan
phpstan.neon

# friendsofphp/php-cs-fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache
